* {
  /* **************
 * GENERAL
 * **************
 */
 -fx-font-family:"Times New Roman";

  /* **************
 * TEXT COLORS
 * **************
 */
 -text_first_clr: #000;
 -text_second_clr: derive(-text_first_clr, 40%);
 -text_third_clr:derive(-text_first_clr, 50%);
 -text_last_clr: #000;
 -text_button_clr: #000;

/* **************
 * BUTTON COLORS
 * **************
 */
 -button_first_clr: blue;
 -button_secondary_clr: transparent;
 -button_optional_clr: transparent;
}


  /* **************
 * BACKGROUND
 * **************
 */

.background-main {
    -fx-background-color:#f2f2f2;
}

.background-form {
    -fx-background-color:#fff;
    -fx-border-color:#8a8a8a;
    -fx-border-radius:3px;
}

.background-bar {
    -fx-background-color:#300050;
    -fx-border-color:#8a8a8a;
    -fx-border-radius:3px;
}

.background-menu {
    -fx-background-color:#9b94a9;
    -fx-border-color:#8a8a8a;
    -fx-border-radius:3px;
}

 /*
  * **********
  * TEXT
  * **********
  */

.title-label {
 -fx-text-fill:-text_first_clr;
 -fx-font-size:16px;
 -fx-font-weight:bold;

}

.section-label {
 -fx-text-fill:-text_second_clr;
 -fx-font-weight:bold;
 -fx-font-family:"Gill Sans";
 -fx-font-size:20px;
}

.subtitle-label {
 -fx-text-fill:-text_third_clr;
 -fx-font-size:14px;
}

.description-label {
 -fx-text-fill:-text_last_clr;
 -fx-font-size:12px;
}

.system-label {
 -fx-text-fill:#ff0000;
 -fx-font-family:"Times New Roman";
 -fx-font-size:14px;
}


.bold-label {
 -fx-text-fill:#000;
 -fx-font-weight:bold;  
}



 /*
  * **********
  * BUTTONS
  * **********
  */

.main-button { 
 -fx-background-color:-button_first_clr;
 -fx-border-radius: 5px;
 -fx-text-fill:#fff;
 -fx-min-height:38px;
 -fx-border-width: 0 0 3 0;
 -fx-border-color:derive(-button_first_clr, -50%);
}

.main-button:hover {
    -fx-background-color:derive(-button_first_clr, 40%);
     -fx-border-radius: 5px;
}

.main-button:pressed {
    -fx-border-color:derive(-button_first_clr, -10%);
    -fx-border-width:1 0 2 0;
    -fx-border-radius:5px;
}

.main-button:selected {
    -fx-background-color:black;
}

.main-button:selected:focused {
    -fx-background-color:green;
}


.secondary-button {
 -fx-background-color:-button_secondary_clr;
 -fx-border-color:-button_first_clr;
 -fx-border-width:1px;
 -fx-border-radius: 5px;
 -fx-text-fill:-button_first_clr;
 -fx-min-height:38px;
}

.secondary-button:hover {
 -fx-background-color:derive(-button_first_clr, 160%);
 -fx-border-radius:5px;
}

.secondary-button:pressed {
    -fx-border-color:derive(-button_first_clr, -10%);
    -fx-border-width:0.5 1 0.5 1;
    -fx-border-radius:5px;
}

.secondary-button:selected {
    -fx-background-color:black;
}

.secondary-button:selected:focused {
    -fx-background-color:green;
}


.optional-button { 
 -fx-background-color:-button_optional_clr;
 -fx-text-fill:derive(-button_first_clr, 0%);
 -fx-min-height:38px;
}

.optional-button:hover {
 -fx-text-fill:derive(-button_first_clr, 50%);
  -fx-border-radius: 5px;
}

.optional-button:selected {
    -fx-background-color:black;
}

.optional-button:selected:focused {
    -fx-background-color:green;
}

 /*
  * **********
  * INPUTS (TEXTFIELD AND TEXTAREA)
  * **********
  */

.textfield {
  -fx-min-height:38px;
  -fx-border-radius:5px;
}

.textarea {
  -fx-min-height:50px;
  -fx-border-radius:5px;
}

.wrongTextInput {
    -fx-min-height:38px;
    -fx-background-color:red;
}

.datepicker {
    -fx-min-height:38px;
    -fx-border-radius:5px;
}

.wrongDatepicker {
    -fx-min-height:38px;
    -fx-border-radius:5px;
    -fx-background-color:blue;
}

.wrongInput {
-fx-background-color:red;
}

.comboBox {
  -fx-min-height:38px;
  -fx-border-radius:4px;
}

.wrongComboBox {
    -fx-background-color:red;
    -fx-min-height:38px;
}


 /*
  * **********
  * TABLE VIEW
  * **********
  */

.tableview {
    -fx-background-color:#fff;
}


 /*
 * **********
 * --------------- END ----- GENERIC STYLES ----------
 * **********
 *
 */